/*CSS general de elementos*/
*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #222;
    position: fixed;
    height: 55px;
    width: 100%;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid white;
    text-align: center;
}
nav ul{
    display: inline-block;
}
nav ul li{
    padding-top: 20px;
    text-align: center;
}
body{
    background-color: #222;
    color: rgb(255, 255, 255);
    font: 200 14px 'Poppins', sans-serif;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
section{
    padding: 10px 100px 10px 100px;
}
h2{
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
}
p{
    text-align: justify;
}
i{
    font-size: 24px;
}
cite{
    font-weight: 300;
}
i:hover{
    color: #fcc900;
}
a{
    text-decoration: none;
}
a:any-link{
    color: white;
}
a:-webkit-any-link{
    color: white;
}
a:-moz-any-link{
    color: white;
}
a:hover{
    color: #ffc900;
}
table{
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: #ffc900;
    color: #222;
    padding: 10px;
    border-radius: 15px;
}
td{
    padding: 10px 10px 5px 10px;
}
li{
    float: left;
    list-style: none;
    /*width: 30px;*/
    text-align: center;
    margin-right: 5px;
}
button{
    border-radius: 10px;
}
/*CSS IDs y Clase*/
.hashtag{
    color: #ffc900;
}
#experiencia{
    background-color: white;
    color: #222;
}
#educacion{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid white;
    background-color: #222;
    color: white;
}
#portfolio{
    border-top: 1px solid #ffc900;
}
#redes{
    margin-top: 20px;
}
#inicio{
    padding-top: 60px;
    background-image: url("../imágenes/portada2.png");
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-solid{
    font-size: 15px;
    margin-right: 15px;
}
.study:hover{
    color: #fcc900;
}
#logo{
    padding-top: 7px;
}
.masinfo button{
    background-color: #ffc900;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    padding: 5px;
}
#datos{
    display: grid;
    grid-template-columns: 250px 1fr;
}
#datospers{
    padding: 50px 10px;
}
/*Grid sobremi*/
#sobremi #imgsobremi{
    margin-left: -50px;
}
#sobremi{
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 250px 1fr;
}
#sobremi h2{
    margin-bottom: 15px;
}
#sobremi .masinfo{
    margin-top: 15px;
}
#sobremi .masinfo button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.filaportfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card{
    width: 250px;
    background-color: #191919;
    border-radius: 15px;
}
.card img, .card video, .card iframe{
    border-radius: 15px 15px 0 0;
}
.card h3{
    color: #ffc900;
}
.card h4{
    margin: 0px 5px 5px 0px;
}
.card h3, .card h4, .card p, .card masinfo{
    padding: 0 15px;
}
.card .masinfo{
    margin: 5px 15px 5px 15px;
    height: 26px;
}
.card .sep{
    margin: 0px 5px 5px 0px;
    border: 1px solid #ffc900;
}
.card masinfo button{
    float: right;
    padding: 5px;
}
/*Grid cardexp*/
.gridexp{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
}
.cardexp{
    background-color: #222;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
}
.cardexp h2{
    margin-bottom: 5px;
}
.cardexp h3{
    margin-bottom: 20px;
}
.cardexp p{
    margin-bottom: 20px;
    text-align: left;
}
.cardexp ul{
    display: flex;
    justify-content: flex-end;
}
.cardexp li{
    height: 30px;
}
#contactar{
    background-color: #ffc900;
    color: #222
}
.itemform{
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center;
    margin-bottom: 10px;
}
.itemform label{
    font-weight: 700;
}
.itemform input, .itemform textarea{
    border-radius: 5px;
    border: 1px solid white;
}
input[type="submit"]{
    background-color: #222;
    border: 1px solid #222;
    color: white;
    padding: 10px;
    grid-column: 2/3;
    justify-self: end;
}
footer{
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
footer ul{
    display: inline-block;
}
footer ul li{
    float: left;
}
.foot{
    padding-top: 10px;
}